a{
  text-decoration-line : none;
  font-style: italic;
  font-size: large;
}
a:link { 
  color:black; 
}

a:visited { 
  color:black; 
}

nav{
  text-align: center;
}

table{
  text-align: center;
  width: 600px;
  font-size: x-large;
  border-collapse: collapse;
  border: 1px solid #ccc;
}
tr,td{
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
td.head{
  background-color: darksalmon;
}